.container {
    background-color: white;
}
.articlescontainer {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 70% 30%;
}

.mainarticles {
    border-right: .5px solid rgb(45, 45, 45);
}

.articlepreview {
    display: grid;
    grid-template-columns: 45% 45%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.sidearticlepreview {
    display: grid;
    grid-template-columns: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.maintext {
    max-width: 100%;
    cursor: pointer
}

.coverimage {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin: auto 0;
}

.blogdate {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 300;
}

.writer {
    display: flex; 
    flex-wrap: wrap;
    gap: 1rem;
}

.writeravater {
    border-radius: 50%;
    transform: scale(.75);
}

.blogtitle {
    font-size: 3rem;
    margin-top: 0;
}

.blogdescription {
   font-size: 0.95rem;
}


@media (max-width: 600px) {
    .articlepreview {
        justify-content: center !important;
        grid-template-columns: 90%;
    }
    .coverimage {
        max-width: 80%;
    }
    .maintext {
        max-width: 80%;
        margin: 0 auto;
    }
}