.container {
    color: white;
}

.footerflexbot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.foothead {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem;
  
}

.footmain {
    color: white;
    font-family: "Open Sans";
    max-width: 50ch;
   
}

.builtwithlovefooter {
    color: white;
}

.sitescontainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.linksheader {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem;
    
}

.links {
    color: #2cc19c;
}

.links:hover {
    opacity: .85;
   
}

.contactusheader {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem; 
}

.standardform {
    width: 18rem;
    font-family: "Open Sans";
}

.bigformtextarea {
    font-family: "Open Sans";
    font-size: .85rem;
}

.submitbutton {
    color: white;
    background-color: rgb(60, 96, 227);
    width: 4rem;
    
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}

.thanks {
    width: 30rem;
    color: black;
    background-color: white;
    font-family: "Open Sans";
    border: none;
}

.thanks::backdrop {
    background: linear-gradient(45deg,rgb(43, 182, 101),rgb(208, 40, 214));
    opacity: .6;
    border-radius: 10px;
}

.thanks h2 {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 2rem;
    letter-spacing: .01in;
}

.thanks p {
    font-size: 1rem;
    text-align: center;
    
}

.modalclosingbutton {
    background-color: rgb(44, 110, 235);
    color: white;
    border-radius: 10px;
}

.siteslink:hover {
    opacity: 0.85;
}