.container {
    color: white;
}

.footerflexbot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.foothead {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem;
  
}

.footmain {
    color: white;
    font-family: "Open Sans";
    max-width: 50ch;
   
}

.builtwithlovefooter {
    color: white;
}

.sitescontainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.linksheader {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem;
    
}

.links {
    color: #1d935e;
}

.links:hover {
    opacity: .85;
   
}

.contactusheader {
    color: white;
    font-family: "Bebas Neue", "Roboto";
    font-weight: 900;
    font-size: 2.5rem; 
}

.standardform {
    width: 18rem;
    font-family: "Open Sans";
}

.bigformtextarea {
    font-family: "Open Sans";
    font-size: .85rem;
}

.submitbutton {
    color: white;
    background-color: rgb(60, 96, 227);
    width: 4rem;
    
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}

.thanks {
    width: 25rem;
    color: white;
    background-color: black;
    font-family: "Open Sans";
}

.thanks::backdrop {
    background: linear-gradient(45deg,red,blue);
    opacity: .4;
    border-radius: 10px;
}

.modalhead {
    text-align: center;
    font-family: "Bebas Neue";
}

.modalmain {
    text-align: center;

}