@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@400;500&display=swap');

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
  font-size: 16px;
}

.noglobalstyles > div {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body::--webkit-scrollbar {
  width:0.25rem  
}

body::--webkit-scrollbar-track { 
  background: #1e1e24;
}

body::--webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.6;
  background: var(--clr-neutral-900); 
  font-family: sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}



.card {
  color: var(--clr-neutral-100);
  background-image: url(/testingforsite.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-two {
  color: var(--clr-neutral-100);
  background-image: url(/testingforsite2.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-three {
  color: var(--clr-neutral-100);
  background-image: url(/testingforsite3.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-four {
  color: var(--clr-neutral-100);
  background-image: url(/testingforsite4.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-five {
  color: var(--clr-neutral-100);
  background-image: url(/testforsite5.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-six {
  color: var(--clr-neutral-100);
  background-image: url(/testforsite6.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card-seven {
  color: var(--clr-neutral-100);
  background-image: url(/testforsite7.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden; /*The reason for this is that the bottom doesn't round bc of the gradient*/

  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within,
.card-two:hover,
.card-two:focus-within,
.card-three:hover,
.card-three:focus-within,
.card-four:hover,
.card-four:focus-within,
.card-five:hover,
.card-five:focus-within,
.card-six:hover,
.card-six:focus-within,
.card-seven:hover,
.card-seven:focus-within { /*The focus within makes it so that when someone focuses (tabs or other keyboard command) into somehting within the card then it focuses*/
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem; /*Creates custom variable that is locally scopped, this helps not have to adjust everything manually that is dependant on this.*/
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
    );
}

.card-content-two {
  --padding: 1.5rem; /*Creates custom variable that is locally scopped, this helps not have to adjust everything manually that is dependant on this.*/
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
    );
}

.card-content-three {
  --padding: 1.5rem; /*Creates custom variable that is locally scopped, this helps not have to adjust everything manually that is dependant on this.*/
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
    );
}

.card-content-four {
  --padding: 1.5rem; /*Creates custom variable that is locally scopped, this helps not have to adjust everything manually that is dependant on this.*/
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
    );
}

@media (hover) {
  .card-content,
  .card-content-two,
  .card-content-three,
  .card-content-four {
    transform: translateY(65%); /*Whenever we can we should use transform instead of changing position*/
    transition: transform 500ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content,
  .card:hover .card-content-two,
  .card:focus-within .card-content-two,
  .card:hover .card-content-three,
  .card:focus-within .card-content-three,
  .card:hover .card-content-four,
  .card:focus-within .card-content-four,
  .card-two:hover .card-content,
  .card-two:focus-within .card-content,
  .card-two:hover .card-content-two,
  .card-two:focus-within .card-content-two,
  .card-two:hover .card-content-three,
  .card-two:focus-within .card-content-three,
  .card-two:hover .card-content-four,
  .card-two:focus-within .card-content-four,
  .card-three:hover .card-content,
  .card-three:focus-within .card-content,
  .card-three:hover .card-content-two,
  .card-three:focus-within .card-content-two,
  .card-three:hover .card-content-three,
  .card-three:focus-within .card-content-three,
  .card-three:hover .card-content-four,
  .card-three:focus-within .card-content-four,
  .card-four:hover .card-content,
  .card-four:focus-within .card-content,
  .card-four:hover .card-content-two,
  .card-four:focus-within .card-content-two,
  .card-four:hover .card-content-three,
  .card-four:focus-within .card-content-three,
  .card-four:hover .card-content-four,
  .card-four:focus-within .card-content-four,
  .card-five:hover .card-content-four,
  .card-five:focus-within .card-content-four,
  .card-five:hover .card-content,
  .card-five:focus-within .card-content,
  .card-five:hover .card-content-two,
  .card-five:focus-within .card-content-two,
  .card-five:hover .card-content-three,
  .card-five:focus-within .card-content-three,
  .card-five:hover .card-content-four,
  .card-five:focus-within .card-content-four,
  .card-siv:hover .card-content,
  .card-six:focus-within .card-content,
  .card-six:hover .card-content-two,
  .card-six:focus-within .card-content-two,
  .card-six:hover .card-content-three,
  .card-six:focus-within .card-content-three,
  .card-seven:hover .card-content,
  .card-seven:focus-within .card-content,
  .card-seven:hover .card-content-two,
  .card-seven:focus-within .card-content-two,
  .card-seven:hover .card-content-three,
  .card-seven:focus-within .card-content-three {
  transform: translateY(0);
  transition-delay: 500ms; /*Delays when hover but not when remmoving hover*/
} 

  .card:focus-within .card-content,
  .card:focus-within .card-content-two,
  .card:focus-within .card-content-three,
  .card:focus-within .card-content-four,
  .card-two:focus-within .card-content,
  .card-two:focus-within .card-content-two,
  .card-two:focus-within .card-content-three,
  .card-two:focus-within .card-content-four,
  .card-three:focus-within .card-content,
  .card-three:focus-within .card-content-two,
  .card-three:focus-within .card-content-three,
  .card-three:focus-within .card-content-four,
  .card-four:focus-within .card-content,
  .card-four:focus-within .card-content-two,
  .card-four:focus-within .card-content-three,
  .card-four:focus-within .card-content-four,
  .card-five:focus-within .card-content,
  .card-five:focus-within .card-content-two,
  .card-five:focus-within .card-content-three,
  .card-five:focus-within .card-content-four,
  .card-six:focus-within .card-content,
  .card-six:focus-within .card-content-two,
  .card-six:focus-within .card-content-three,
  .card-six:focus-within .card-content-four,
  .card-seven:focus-within .card-content,
  .card-seven:focus-within .card-content-two,
  .card-seven:focus-within .card-content-three,
  .card-seven:focus-within .card-content-four {
  transition-duration: 0ms;
}

  .card-content > *:not(.cardtitle),
  .card-content-two > *:not(.cardtitle),
  .card-content-three > *:not(.cardtitle),
  .card-content-four > *:not(.cardtitle) { /*The :not() means except, sp this will change opacity for everything except for the title so that the card keeps a title no matter what.*/
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardtitle:after {
  transform: scaleX(0);
}
}



.card:hover .card-content > *:not(.cardtitle),
.card:focus-within .card-content > *:not(.cardtitle),
.card:hover .card-content-two > *:not(.cardtitle),
.card:focus-within .card-content-two > *:not(.cardtitle),
.card:hover .card-content-three > *:not(.cardtitle),
.card:focus-within .card-content-three > *:not(.cardtitle),
.card:hover .card-content-four > *:not(.cardtitle),
.card:focus-within .card-content-four > *:not(.cardtitle),
.card-two:hover .card-content > *:not(.cardtitle),
.card-two:focus-within .card-content > *:not(.cardtitle),
.card-two:hover .card-content-two > *:not(.cardtitle),
.card-two:focus-within .card-content-two > *:not(.cardtitle),
.card-two:hover .card-content-three > *:not(.cardtitle),
.card-two:focus-within .card-content-three > *:not(.cardtitle),
.card-two:hover .card-content-four > *:not(.cardtitle),
.card-two:focus-within .card-content-four > *:not(.cardtitle),
.card-three:hover .card-content > *:not(.cardtitle),
.card-three:focus-within .card-content > *:not(.cardtitle),
.card-three:hover .card-content-two > *:not(.cardtitle),
.card-three:focus-within .card-content-two > *:not(.cardtitle),
.card-three:hover .card-content-three > *:not(.cardtitle),
.card-three:focus-within .card-content-three > *:not(.cardtitle),
.card-three:hover .card-content-four > *:not(.cardtitle),
.card-three:focus-within .card-content-four > *:not(.cardtitle),
.card-four:hover .card-content > *:not(.cardtitle),
.card-four:focus-within .card-content > *:not(.cardtitle),
.card-four:hover .card-content-two > *:not(.cardtitle),
.card-four:focus-within .card-content-two > *:not(.cardtitle),
.card-four:hover .card-content-three > *:not(.cardtitle),
.card-four:focus-within .card-content-three > *:not(.cardtitle),
.card-four:hover .card-content-four > *:not(.cardtitle),
.card-four:focus-within .card-content-four > *:not(.cardtitle),
.card-five:hover .card-content > *:not(.cardtitle),
.card-five:focus-within .card-content > *:not(.cardtitle),
.card-five:hover .card-content-two > *:not(.cardtitle),
.card-five:focus-within .card-content-two > *:not(.cardtitle),
.card-five:hover .card-content-three > *:not(.cardtitle),
.card-five:focus-within .card-content-three > *:not(.cardtitle),
.card-five:hover .card-content-four > *:not(.cardtitle),
.card-five:focus-within .card-content-four > *:not(.cardtitle),
.card-six:hover .card-content > *:not(.cardtitle),
.card-six:focus-within .card-content > *:not(.cardtitle),
.card-six:hover .card-content-two > *:not(.cardtitle),
.card-six:focus-within .card-content-two > *:not(.cardtitle),
.card-six:hover .card-content-three > *:not(.cardtitle),
.card-six:focus-within .card-content-three > *:not(.cardtitle),
.card-six:hover .card-content-four > *:not(.cardtitle),
.card-six:focus-within .card-content-four > *:not(.cardtitle),
.card-seven:hover .card-content > *:not(.cardtitle),
.card-seven:focus-within .card-content > *:not(.cardtitle),
.card-seven:hover .card-content-two > *:not(.cardtitle),
.card-seven:focus-within .card-content-two > *:not(.cardtitle),
.card-seven:hover .card-content-three > *:not(.cardtitle),
.card-seven:focus-within .card-content-three > *:not(.cardtitle),
.card-seven:hover .card-content-four > *:not(.cardtitle),
.card-seven:focus-within .card-content-four > *:not(.cardtitle) {
  opacity: 1;
  transition-delay: 800ms;
}

.cardtitle {
  position: relative;
  width: max-content; /*As long as the title is one line then this is fine, otherwise it would break stuff*/
}

.cardtitle::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width:calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease; /*These last two are for the transition.*/
}

.card:hover .cardtitle::after,
.card:focus-within .cardtitle::after,
.card-two:hover .cardtitle::after,
.card-two:focus-within .cardtitle::after,
.card-three:hover .cardtitle::after,
.card-three:focus-within .cardtitle::after,
.card-four:hover .cardtitle::after,
.card-four:focus-within .cardtitle::after,
.card-five:hover .cardtitle::after,
.card-five:focus-within .cardtitle::after,
.card-six:hover .cardtitle::after,
.card-six:focus-within .cardtitle::after,
.card-seven:hover .cardtitle::after,
.card-seven:focus-within .cardtitle::after {
  transform: scaleX(1)
}

.cardbutton {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 6px;
  border: none;
  font-family: "Rubik";
  
}

.cardbutton:hover,
.cardbutton:focus {
  background-color: var(--clr-neutral-100);

}
.cardbody {
  color: rgb(255 255 255 /0.85)
}

.cardscontainered {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms
    !important;
    animation-iteration-count: 1
    !important;
    transition-duration: 0.01ms
    !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(38, 187, 157);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  
}