@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');
.html {
  background-color: black;
}
.container {
  margin-top: -1.4rem;
  background-color: rgb(0, 0, 0);
  display: flex; flex-direction: column;
}

.sectionone {
  display: block;
  
}

.next {
  color: white;
}

.transparent {
  background-color: transparent;
  height: 100%;
}

.headertext {
  color: white;
  font-family: "Open Sans";
}

.globe {
  width: 50%;
  transition: opacity 0.5s;
  opacity: 1;
}

.frontheader {
  margin-top: -35rem;
  margin-left: 2rem;
  font-size: clamp(3.5rem, 5vw, 4rem);
  color: white;
  font-family: "Bebas Neue";
  z-index: 1;
 
}

.fronttext {
  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-left: 2rem;
  margin-top: -2rem;
  z-index: 1;
}

.fakediv {
  height: 400px;
}

.sectionone{animation: 3s ease-in 0s FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.frontheader{animation: 2s ease-in 0s FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.fronttext{animation: 2s ease-in 0s FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.sectiontwo {
  background-color:  #284457;
  color: rgb(243, 236, 236);;
  display: block;
  }

.sectiontwotext {
  position: relative;
  font-size: 1.7rem;
  font-family: "Mulish";
  text-align: center;
  margin:0 auto;
  max-width: 45ch;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transition: all 500ms ease;
}

.sectiontwotext:hover {
  font-size: 1.85rem;
}

.card {
 position: absolute;
 align-items: center;
 margin: 2rem;
 display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footertext {
  font-size: .9rem;
  color: white;
  font-family: "Open Sans";
}

.sitescontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .8rem;
}

.siteslink:hover {
  opacity: 75%;
}
