.mainlinkscontainer {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  
  .sitelinks {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Bebas Neue", "Rubik";
    font-size: 3rem;
  }
  
  .sitelinks:hover{
    
  }
  
  .hamburgerbutton {
    z-index: 99;
   
  }
  
  .bar {
    display: block;
    height: 3px;
    width: 30px;
    margin: 0.3rem;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
   
  }
  
  
  
  .hamburgercontained {
    transform: translateY(2rem); 
    margin-left: 85%;
    margin-right: 10rem;
  }
  
  .mainlinkscontainer{animation: 1s ease-in 0s FadeIn;}
  @keyframes FadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
  }
  
  @media (max-width: 500px) {
    .hamburgercontained {
        padding-bottom: 3rem;
    }
  }